nav {
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 10;
    position: fixed;
    left: 1%;
    bottom: 40%;
    transform: translate(-1% -40%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    flex-direction: column;
}

nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
    display: flex;
}

nav a.active {
    background: var(--color-prim);
    color: var(--color-white);
}

nav a:hover {
    background: rgba(0,0,0,0.3); 
}


/* ============= media queries mobile ============ */

@media (max-width: 600px) {
    nav {
        left: 13%;
        bottom: 2%;
        transform: translate(-13% -2%);
        flex-direction: row;
    }
}
